[Unit]
Description=OTGuard Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/otguard/bin/otguardd -u 999 -g 999
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
